.App {
  text-align: center;
  height: 100vh;
}

nav {
  background-color: #463058;
  border: solid;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.nav-item{
  color: aliceblue;
  margin: 1% 1%;
  text-decoration: none;
  float: left;
}

.nav-user {
  float: right;
  margin: 1% 1%;
  text-decoration: none;
  color: aliceblue;
}

.articles-grid{
  display: flex;
  flex-direction: column;
  grid-template-areas: 'noContent card no noContent';
}

.article-card {
  border: solid #463058;
  /* margin: 2% 1%; */
  box-sizing: inherit;
  padding: 5%;
  color: #240507 ;
  background-color: #e3b98c;
}


/* @media (max-width: 600px) {
  .nav-item, .nav-user {
    margin: 5%;
  }
}

@media (min-width: 600px) {
  .article-card {
    margin: 2% 15%;
  }
}

@media (min-width: 1200px) {
  .article-card {
    margin: 2% 25%;
  }
}

@media (min-width: 1500px) {
  .article-card {
    margin: 2% 30%;
  }
} */