.App {
  text-align: center;
}

nav {
  background-color: #103e6e;
  border: solid;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.nav-item {
  color: aliceblue;
  margin: 1% 1%;
  text-decoration: none;
  float: left;
}
.nav-user {
  float: right;
  margin: 1% 1%;
  text-decoration: none;
  color: aliceblue;
}

.articles-grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}
.article-card {
  grid-column: 2/4;
  border: solid #463058;
  background-color: #d9dddf;
  display: grid;
  grid-template-columns: 10% 1fr;
}
.article-card-inner {
  border-left: solid;
  color: #240507;
  display: grid;
}
.article-card-top-info {
  display: flex;
  margin-left: 1%;
}
.article-card-lower-info {
  display: flex;
  margin-left: 1%;
}

.topic-grid {
  display: grid;
  grid-template-columns: 30% 1fr;
}
.topic-card {
  border: solid;
  grid-column: 1/2;
  margin: 5%;
  background-color: #3196c6;
  cursor: pointer;
}

.article-card {
  display: grid;
  grid-template-columns: 10% 1fr;
}
.article-card-topic-page {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column: 2/3;
  padding: 2% 7%;
  color: #240507;
  list-style: none;
}
.article-card-topic-page-item {
  display: grid;
  grid-template-columns: 10% 1fr;
  border: solid #463058;
  background-color: #d9dddf;
  margin: 2% 10% 5%;
}

.user-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.user-page-info {
  grid-column: 1;
  border: solid;
  border-radius: 3%;
  margin: 10%;
  padding: 5% 0;
  background-color: #3196c6;
}
.user-page-comments {
  grid-column: 2;
  border: solid;
  margin: 2% 5%;
  background-color: #3196c6;
}
.user-page-articles {
  grid-column: 3;
  border: solid;
  margin: 2% 5%;
  background-color: #3196c6;
}
.user-page-img {
  margin: 5% auto;
  border: solid;
  border-radius: 2rem;
}

.single-article-page-article {
  border: solid;
  margin: 3%;
  background-color: #d9dddf;
}
.single-article-page-article-title-right {
  margin: auto;
}
.single-article-page-article-title {
  display: flex;
  border-bottom: solid;
}
.single-article-stats {
  border-top: solid;
  display: flex;
}
.article-stats-grid-item {
  margin: 1%;
}
.single-article-page-article-body {
  margin: 1% 1%;
  padding: 0 5%;
}
.comment-article-list-top-right {
  margin: auto;
}
.comment-article-list-bottom {
  margin: 1% 5%;
}
.comment-article-list {
  list-style: none;
}
.comment-article-container {
  margin-left: 2%;
  margin-right: 2%;
}
.comment-article-list-item {
  border: solid;
  margin: 2%;
  background-color: #d9dddf;
}
.comment-article-list {
  margin: 0;
  padding: 0;
}
.comment-article-list-top {
  display: flex;
  border-bottom: solid;
}

.new-comment-form {
  border: solid;
  margin: 3%;
  background-color: #d9dddf;
}
.comment {
  width: 80%;
  height: 100px;
  padding: 10px;
  margin: 0% 5%;
  background-color: #d9dddf;
}

.sorter-top-bar {
  background-color: #116a8d;
}
.sorter-top-bar-button {
  color: aliceblue;
  cursor: pointer;
  background-color: #116a8d;
  border: none;
  margin: 0.5em;
}

.article-voter-button {
  color: aliceblue;
  border: none;
  background-color: #116a8d;
  border-radius: 20%;
  cursor: pointer;
}
.articles-voter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: solid;
}

@media (max-width: 600px) {
  .nav-item,
  .nav-user {
    margin: 5%;
  }
  .topic-grid {
    display: flex;
    flex-direction: column;
  }
  .article-card-topic-page {
    padding: inherit;
  }
  .article-card {
    display: grid;
    grid-template-columns: 15% 1fr;
  }
  .single-article-page-article {
    margin-left: 0;
    margin-right: 0;
  }
  .new-comment-form {
    margin-left: 0;
    margin-right: 0;
  }
  .comment-article-container {
    border: none;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(255, 255, 255);
  }
  .comment-article-list-item {
    margin: 4% 0;
  }
  .comment-article-list-bottom {
    margin: 1% 5%;
  }
  .comment {
    margin: 0 2%;
  }

  .article-card-topic-page-item {
    margin: auto;
  }

  .topic-card {
    margin: 1%;
  }
  .user-page-grid {
    display: flex;
    flex-direction: column;
  }
  .user-page-img {
    display: block;
    width: 70%;
    margin: 5% auto;
    border: solid;
    border-radius: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .article-card {
    margin: 1% 15%;
  }
  .article-card-topic-page {
    padding: 2%;
  }
  .article-card-topic-page-item {
    margin: 2% 4%;
  }
  .single-article-page-article {
    margin-left: 9%;
    margin-right: 9%;
  }
  .new-comment-form {
    margin-left: 9%;
    margin-right: 9%;
  }
  .comment-article-list {
    margin-left: 5%;
    margin-right: 5%;
  }
  .comment-article-list-bottom {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1200px) {
  .article-card {
    margin: 1% 25%;
  }
  .article-card-topic-page {
    padding: 2%;
  }
  .article-card-topic-page-item {
    margin: 2% 15%;
  }

  .single-article-page-article {
    margin-left: 13%;
    margin-right: 13%;
  }
  .new-comment-form {
    margin-left: 13%;
    margin-right: 13%;
  }
  .comment-article-container {
    margin-left: 7%;
    margin-right: 7%;
  }
  .comment-article-list {
    margin-left: 5%;
    margin-right: 5%;
  }
  .comment-article-list-bottom {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1500px) {
  .article-card {
    margin: 0.7% 30%;
  }
  .article-card-topic-page-item {
    margin: 2% 20%;
  }

  .single-article-page-article {
    margin-left: 17%;
    margin-right: 17%;
  }
  .new-comment-form {
    margin-left: 17%;
    margin-right: 17%;
  }
  .comment-article-container {
    margin-left: 12%;
    margin-right: 12%;
  }
  .comment-article-list {
    margin-left: 5%;
    margin-right: 5%;
  }
  .comment-article-list-bottom {
    margin-left: 10%;
    margin-right: 10%;
  }
}
